// VARIABLES

// colors
$body-color: #000;

$theme-colors: (
  "primary": #fd8324
);

// fonts
$font-normal: 'Mont-Book';
$font-lighter: 'Mont-Light';
$font-bold: 'Mont-Bold';
$font-bolder: 'Mont-Black';
