// CAROSUELS

// MULTIPLE ITEMS CAORUSEL
.carousel-multiple {
    @include media-breakpoint-up(md) {

        .carousel-inner {
            overflow: visible;
            transform: translatex(0);
            width: auto;
        }

        .carousel-item:not(.active) + .carousel-item-first:not(.active),
        .carousel-item-first:not(.active):first-child {
            display: block;
            position: absolute;
            transform: translate3d(-100%, 0, 0);
        }

        .carousel-item-before-first {
            display: block;
            position: absolute;
            transform: translate3d(-200%, 0, 0);
        }

        /* show 4 items */
        .active + .carousel-item,
        .active + .carousel-item + .carousel-item,
        .active:not(.carousel-item-right) + .carousel-item + .carousel-item + .carousel-item {
            display: block;
        }

        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
        }

        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }

        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }

        .active + .carousel-item + .carousel-item + .carousel-item,
        .active:not(.carousel-item-right) + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333333333%;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        .active:not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
        .active.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }

        .active.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
        .active:not(.carousel-item-right) + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            transform: translate3d(100%, 0, 0);
        }

        .active.carousel-item-left + .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            transform: translate3d(0, 0, 0);
        }

        /* farthest right hidden item must be abso position for animations */
        .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        .carousel-item-next,
        .carousel-item-prev {
          position: relative;
          transform: translate3d(0, 0, 0);
        }

    }
}

// Carousel controls
.carousel-control-prev,
.carousel-control-next {
    width: 90px;
    height: 90px;
    top: 50%;
    background-color: $primary;
    display: none;

    @include media-breakpoint-only(md) {
        width: 45px;
        height: 45px;
    }

    @include media-breakpoint-up(md) {
        display: flex;
    }

    &.hide {
        display: none !important;
    }

    .icon {
        align-self: center;
    }
}

.carousel-control-prev {
    transform: translate(-50%, -50%);
}

.carousel-control-next {
    transform: translate(50%, -50%);
}
