// FORMS

.form-control {
    border-width: 0 0 1px 0;
    font-family: $font-bold;
    color: black;
}

.has-float-label {
    display: block;
    position: relative;

    label, > span {
      position: absolute;
      left: 0;
      top: 0;
      cursor: text;
      font-size: 75%;
      opacity: 1;
      transition: all .2s;
      @content;
    }

    select {
      appearance: none;
    }

    input, select {
      font-size: inherit;
      padding-top: 1.3em;
      margin-bottom: 2px;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid rgba(0,0,0,.1);

      &::placeholder {
        opacity: 1;
        transition: all .2s;
      }

      &:placeholder-shown:not(:focus) {
        &::placeholder {
          opacity: 0;
        }

        + * {
            font-size: 100%;
            opacity: .5;
            top: 50%;
            transform: translatey(-50%);
        }
      }

      &:focus {
        outline: none;
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.333em;
      }
    }

  // select {
  //   padding-right: 1em;
  //   background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
  //   background-size: 8px 10px;
  // }
}

