// MEDIA GALLERY

.media-gallery {

    &--meta {
        height: 50px;
        margin: -25px 0 -25px;
        padding: 0 15px;
        background-color: $primary;
        position: relative;
        z-index: $zindex-dropdown;
        line-height: 50px;
        color: white;
        font-size: 0.857em;

        @include media-breakpoint-up(xl) {
            height: 100px;
            margin: -50px 0 -50px;
            padding: 0 30px;
            line-height: 100px;
        }

        i {
            margin-right: 8px;
        }

        time {
            float: right;
            font-family: $font-bold;
        }
    }

    &--item {
        &.bottom-river {
             &:after {
                @include media-breakpoint-up(lg) {
                    left: 0;
                    transform: translate(0,50%);
                    width: 26%;
                }
             }
        }
    }

    &--article {
        article {
            @include media-breakpoint-up(lg) {
                margin-top: -21em;
            }
            @include media-breakpoint-up(xl) {
                margin-top: -25em;
            }
        }

        .h1 {
            @include media-breakpoint-up(lg) {
                padding-right: 28%;
            }
            @include media-breakpoint-up(xl) {
                padding-right: 18%;
            }
        }
    }
}
