// FONTS and ICONS

// Mont font
//@import url("//hello.myfonts.net/count/370ace");

// @font-face {
//   font-family: 'Mont-Light';
//   src: url('../fonts/370ACE_0_0.eot');
//   src: url('../fonts/370ACE_0_0.eot?#iefix') format("embedded-opentype"), url('../fonts/370ACE_0_0.woff2') format("woff2"), url('../fonts/370ACE_0_0.woff') format("woff"), url('../fonts/370ACE_0_0.ttf') format("truetype");
// }


@font-face {
  font-family: 'Mont-Book';
  src: url('../fonts/370ACE_1_0.eot');
  src: url('../fonts/370ACE_1_0.eot?#iefix') format("embedded-opentype"), url('../fonts/370ACE_1_0.woff2') format("woff2"), url('../fonts/370ACE_1_0.woff') format("woff"), url('../fonts/370ACE_1_0.ttf') format("truetype");
}


@font-face {
  font-family: 'Mont-Bold';
  src: url('../fonts/370ACE_2_0.eot');
  src: url('../fonts/370ACE_2_0.eot?#iefix') format("embedded-opentype"), url('../fonts/370ACE_2_0.woff2') format("woff2"), url('../fonts/370ACE_2_0.woff') format("woff"), url('../fonts/370ACE_2_0.ttf') format("truetype");
}


// @font-face {
//   font-family: 'Mont-Black';
//   src: url('../fonts/370ACE_3_0.eot');
//   src: url('../fonts/370ACE_3_0.eot?#iefix') format("embedded-opentype"), url('../fonts/370ACE_3_0.woff2') format("woff2"), url('../fonts/370ACE_3_0.woff') format("woff"), url('../fonts/370ACE_3_0.ttf') format("truetype");
// }

.icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.icon-search,
.icon-cart,
.icon-user {
  min-width: 28px;
  min-height: 15px;

  //@include media-breakpoint-up(lg) { // test big query on smaller screen size
  @include media-breakpoint-up(xl) {
    min-width: 28px;
    min-height: 21px;
  }
}


.icon-cart {
  background-image: url(../images/cart_icon.svg);
  transform: translatex(-10%);

  @include media-breakpoint-down(md) {
    + sup {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.icon-search {
  background-image: url(../images/search_icon.svg);
}

.icon-user {
  background-image: url(../images/user_icon.svg);
}

.icon-cart {
  background-image: url(../images/cart_icon.svg);
}

.icon-video {
  min-width: 28px;
  min-height: 15px;
  background-image: url(../images/video_icon.svg);
}

.icon-more {
  min-width: 30px;
  min-height: 30px;
  background-image: url(../images/more_icon.svg);
}

.icon-river-black {
  background-image: url(../images/river-black.svg);
  background-repeat: no-repeat;
  background-position: 45% 50%;
  background-size: contain;
  padding: 5% 0;
}
.icon-river-white {
  background-image: url(../images/river-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5% 0;
}

.icon-arrow {
  min-width: 21px;
  min-height: 18px;
  background-image: url(../images/arrow_icon.svg);
}

.icon-arrow-prev {
  transform: rotate(180deg);
}


// Chevron icons
.chevron {
  &:before {
    border-style: solid;
    border-width: 0.20rem 0.20rem 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    left: 0.15rem;
    top: 0.15rem;
    position: relative;
    transform: rotate(-45deg);
    vertical-align: top;
  }

  &.right:before {
    left: 0;
    transform: rotate(45deg);
  }

  &.bottom:before {
    top: 0;
    transform: rotate(135deg);
  }

  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}
