// TYPOGRAPHY

// Basic font
body {
    font-family: $font-normal;
    font-weight: normal;
    font-style: normal;

    @include media-breakpoint-up(xl) {
        font-size: 1.125em;
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-bold;
}
