// TYPOGRAPHY

// Basic font
body {
    font-family: $font-normal;
    font-weight: normal;
    font-style: normal;

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.125rem;
    }
}

h1, h2, h3, h4, h5, h6, strong,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-bold;
}

h1, .h1 {
    font-size: 1.714em;

    @include media-breakpoint-up(xl) {
        font-size: 3.000em;
        margin-bottom: 0.4em;
    }
}

h2, .h2 {
    font-size: 1.286em;

    @include media-breakpoint-up(lg) {
        font-size: 1.222em;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: 1em;
    }
}

.section-footer-link {
    font-family: $font-bold;

    @include media-breakpoint-up(xl) {
        margin-top: 2.6em;
    }

    a {
        color: $body-color;

        &:hover {
            color: $primary;
        }
    }

    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        width: 22px;
        margin-left: 7px;
        background-color: $body-color;
    }
}
