// HERO

#hero-slider {

    .carousel-item {
        height: 90vh;

        @include media-breakpoint-up(lg) {
            height: 100vh;
            min-height: 560px;
        }

        > img {
            min-height: 100%;
            // width: auto;
            //max-width: 10000%;
            object-fit: cover;
            object-position: center center;
        }

        &:after {
            content: "";
            display: block;
            width: 154px;
            height: 25px;
            position: absolute;
            top: 110px;
            right: 0;
            transform: translatex(45%);
            @extend .icon-river-white;
            padding: 0;

            @include media-breakpoint-up(lg) {
                width: 308px;
                height: 51px;
                top: auto;
                bottom: 10vh;
                // left: 0;
                // margin-left: calc( (100% - #{map-get($container-max-widths, lg)}) / 2 );
                // padding-left: #{map-get($container-max-widths, lg)};
            }
        }
    }

}

.hero-caption {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: white;
    bottom: 10vh;

    @include media-breakpoint-up(xl) {
        bottom: 20vh;
        font-size: 0.889em;
    }

    .row {
        flex-direction: column;
    }
}

.hero-title,
.hero-subtitle {
    font-family: $font-bold;
    line-height: 1;
    text-align: left;
}

.hero-title {
    font-size: 3.7em; // For old browser
    font-size: calc(3.1em + 1.5vw);

    @include media-breakpoint-up(xl) {
        font-size: 5em; // For old browser
        font-size: calc(3.1em + 3.5vw);
        margin-bottom: 22px;
    }
}

.hero-subtitle {
    font-size: 1.143em;

    @include media-breakpoint-up(lg) {
        font-size: 1em; // For old browser
        font-size: calc(0.2em + 1vw);
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.556em; // For old browser
        font-size: calc(0.2em + 1.25vw);
    }
}

.hero-footer {
    margin-top: 1.2em;

    @include media-breakpoint-up(xl) {
        margin-top: 2.6em;
    }

    a {
        font-family: $font-bold;
        color: white;

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }
}

.carousel-indicators {

    @include media-breakpoint-up(lg) {
        bottom: 1.5vw;
    }

    @include media-breakpoint-up(xl) {
        bottom: 4.5vw;
    }

    li {
        border-radius: 50%;
        box-sizing: content-box;

        &.active {
            background-color: transparent;
            border: 3px solid $primary;
            margin-top: -3px;
        }
    }
}
