// NEWSLETTER

.nl-signup {
    @include media-breakpoint-up(lg) {
        //padding-bottom: 0;

        &--wrapper {
            padding-top: 4em;
            padding-bottom: 4em;
            background-color: white;
        }
    }
}
