// NEWS

.news-list {

    @include media-breakpoint-down(md) {

        .news-list--wrapper.carousel {
            transform: scale(0.85);
            margin: -30px 0 0 -30px;

            .carousel-inner {
                padding: 0;
                overflow: visible;
            }

            .carousel-item {
                padding: 0 15px;

                &.active {
                    + .carousel-item {
                        &:not(.carousel-item-next) {
                            display: block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            transform: translatex(100%);
                            transition: transform .3s;
                        }
                        &.carousel-item-next {
                            + .carousel-item {
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                transform: translatex(105%);
                            }
                        }
                    }
                }

                &.carousel-item-prev + .carousel-item.active + .carousel-item {
                    display: none;
                }
            }
        }

        .row {
            margin: 0;
        }

    }

    article {
        overflow: hidden;
        //background-color: red !important; // for testing

        @include media-breakpoint-up(lg) {
            margin-bottom: 6px;

            .bg-light {
                height: 9em;
                padding: 2.25em 0;
                margin-left: 0;

                @include media-breakpoint-up(xl) {
                    height: 7.5em;
                }
            }
        }

    }

    .news-list--title {
        @include make-container();
    }

    .news--img,
    .news--title,
    .news--excerpt {
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    .news--img {

        @include media-breakpoint-up(lg) {
            padding-left: 0;
        }

        img {
            width: calc(100% + 30px);
            max-width: 150%;
            margin: 0 -15px 36px;

            @include media-breakpoint-up(lg) {
                position: absolute;
                top: -2.25em;
                width: calc(50% - 30px);
                height: 9em;
                margin: 0;
                object-fit: cover;
                object-position: center;

                @include media-breakpoint-up(xl) {
                    height: 7.5em;
                }
            }
        }

        figcaption {
            color: $primary;
            font-size: 0.857em;
            font-family: $font-bold;

            @include media-breakpoint-up(lg) {
                display: inline-block;
                @include make-col-offset(6);
                //padding-left: 15px;
            }
        }
    }

    .news--title {
        a {
            margin-left: 20%;
        }
    }

    .news--excerpt {
        margin-bottom: 36px;
    }

    .news--link {
        @include media-breakpoint-up(lg) {
            margin-left: -15px;
        }
        .icon-more {
            width: 100%;
            padding-bottom: 100%;
            max-width: 62px;
        }
    }

}
