// NEWSLETTER

.nl-signup {

    @include media-breakpoint-up(lg) {
        //padding-bottom: 0;

        &--wrapper {
            padding-top: 4em;
            padding-bottom: 4em;
            background-color: white;
        }

        p {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(xl) {

        &--wrapper {
            padding-top: 6em;
            padding-bottom: 6em;
        }

    }

}
