// PRODUCTS

@include media-breakpoint-down(md) {

    .prod-gallery {
        position: relative;
        height: 540px;

        .stack {
            width: 250px;
            height: 350px;
            //box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.14);
            position: absolute;
            top: 150px;
            left: 50%;
            transform: translatex(-45%);

            > .in-deck {
                width: 250px;
                height: 350px;
                position: absolute;
                top: 0;
                left: 0;
                //box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
                cursor: default;
                padding: 0;

                &:last-child() {
                    box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.14);
                }
                &:nth-last-child(2) {
                    //background-color: #f3f3f3;
                    // top: 2px;
                    // transform: translate(10px, 10px) rotate(0.4deg);
                    transform: rotate(3deg);
                    box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.14);
                }
                &:nth-last-child(3) {
                    transform: rotate(6deg);
                    box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.14);
                }
            }
        }
    }

}

.prod-box {
    text-align: center;
    position: relative;
    padding: 1em;
    height: 100%;

    @include media-breakpoint-up(lg) {
        box-shadow: 3px 3px 50px 0px rgba(0, 0, 0, 0.14);
        padding: 2.778em 1em;
    }

    &:before {
        content: attr(rate);
        display: inline-block;
        padding-left: 15px;
        height: 10px;
        position: absolute;
        top: 15px;
        left: 15px;
        background: url(../images/star_icon.svg) top left no-repeat;
        background-size: contain;
        font-size: 0.714em;

        @include media-breakpoint-up(xl) {
            height: 20px;
            padding-left: 35px;
            font-size: 0.889em;
            top: 37px;
            left: 30px;
        }

    }

    img {
        height: 180px;
        margin-bottom: 1em;

        @include media-breakpoint-up(xl) {
            height: 380px;
        }
    }

    &--title {
        font-size: 1.143em;

        @include media-breakpoint-up(xl) {
            font-size: 1.222em;
        }
    }

    p {
        margin-bottom: 1.4em;

        @include media-breakpoint-up(xl) {
            font-size: 1.222em;
            margin-bottom: 2.333em;
        }
    }

    .icon-cart {
        min-width: 35px;
        min-height: 31px;
        background-position: 10% 50%;
    }
}

.addtocart {
    -webkit-appearance: none;
    background-color: $primary;
    width: 44px;
    height: 44px;
    padding: 12px 0;
    border: 0;
    border-radius: 50%;
    text-align: center;

    @include media-breakpoint-up(lg) {
        width: 4vw;
        height: 4vw;
        max-width: 84px;
        max-height: 84px;
    }
}
